.btn {
    position: relative;
    width: 350px;
    margin: 15px;
    padding: 20px;
    vertical-align: middle; 
    text-align: center; 
    box-sizing: border-box;
    align-items: center; 
    justify-content: center;
    border: none;
    border-radius: 4px;
    text-decoration: none;
    font-family: Roboto,sans-serif;
    font-weight: 400;
    font-size: 24px;
    color: #fff; 
    background-color: #b3382c;
    cursor: pointer;
  
  }
  
  .btn-primary {
    color: white;
    text-transform: uppercase;
    font-weight: 600;
  }
  
  .btn-secondary {
    color: black;
    text-transform: uppercase;
    font-weight: 600;
  }
  
  