.modal-overlay {
    position: fixed;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.5);
    z-index: 2;
  }
.modal {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    max-width: 1020px;
    height: 400px;
    box-sizing: border-box;
     background-color: green;
    border-radius: 5px;
    z-index: 4;
    .modal-content {
        display: flex;
        flex-direction: column;
        height: 100%;
        align-items: center;
        font-family: Roboto,sans-serif;
        font-weight: 400;
        color: #fff;
        .modal-close {
            position: absolute;
            right: 28px;
            top: 0;
            font-size: 60px;
            font-weight: 100;
            display: inline-flex;
            vertical-align: middle;
            text-align: center;
            box-sizing: border-box;
            align-items: center;
            justify-content: center;
            text-decoration: none;
            border: none;
            color: #fff;
            cursor: pointer;
            user-select: none;
            background-color: transparent;
          }
        .modal-header {
            width: 100%;
            height: 85px;
            display: flex;
            justify-content: space-between;
            align-items: center;
            background-color: #d44637;
            
            & h2 {
                margin: 0 30px;
                font-size: 32px;
            }
        }
        .modal-footer {
            width: 100%;
            margin-top: auto;        }
        .body-text {
            margin: 30px;
            line-height: 1.6;
            font-size: 2em;
        }
    }
}