#root {
    width: 100vw;
    height: 100vh;
    text-align: center;
    display: flex;
    justify-content: center;
    align-items: center;
    background-color: #94e73c;
  }
  
  .btn-wrapper {
    display: flex;
    justify-content: center;
    align-items: center;
  }
